/*icon container*/
.select-icon {
  cursor: pointer;
  margin: 0 10px 0 0;
  padding: 3px 10px 4px;
  display: inline-block;
  vertical-align: middle;
  background: #efefef;
  border: 1px solid;
  border-radius: 5px;
}

.f-icon-family,
.f-icon-text {
  vertical-align: middle;
}

.f-icon-text {
  user-select: all;
}

.f-icon-family:before {
  display: inline-block;
  text-align: center;
  font-size: 2em;
}

.font-icon {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.font-icon .f-icon-search {
  margin-bottom: 20px;
  height: 2em;
  line-height: 2em;
}

.font-icon .f-icon-list {
  flex: 1;
  padding: 10px 5px 0;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.f-icon-list .f-icon-item {
  width: 10em;
  padding: 0 5px;
  height: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.f-icon-list .f-icon-item:hover {
  box-shadow: 0 0 5px #ccc;
}

.f-icon-item label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.f-icon-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}